<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotround">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spotround">
        <activity android:name=".SignUpActivity"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="Welcome to Spot Round" />
        <activity
            android:name=".MainActivity"
            android:label="Welcome"/>
        <activity
            android:name=".PaymentActivity"
            android:label="Make Payment" />
        <activity android:name=".ComputeResult" />

        <activity
            android:name=".UpdVacancyActivity"
            android:label="Update Vacancy"
            android:parentActivityName=".InstituteActivity" />
        <activity
            android:name=".InstituteActivity"
            android:label="Admin Dashboard" >

        </activity>
        <activity android:name=".Apply" />
        <activity
            android:name=".updateprofile"
            android:label="Apply for SpotRound"
            android:parentActivityName=".InsideStudentlogin" />
        <activity android:name=".Mobveri" />
        <activity
            android:name=".InsideStudentlogin"
            android:label="Student Dashboard" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Student Login"
            android:parentActivityName=".StartActivity" />
    </application>

</manifest>